<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css"
      integrity="sha512-6c4nX2tn5KbzeBJo9Ywpa0Gkt+mzCzJBrE1RB6fmpcsoN+b/w/euwIMuQKNyUoU/nToKN3a8SgNOtPrbW12fug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="Identify.css">
    <title>Identify</title>
</head>
<body>
    <form class="identify_form" >
        <h2 class="identify_h2">Tìm tài khoản của bạn</h2>
        <div class="identify_td">Vui lòng nhập email hoặc số di động để tìm kiếm tài khoản của bạn.</div>
        <div class="identify_group">
            <div class="identify_input">
                <input
                    id="email"
                    type="text"
                    placeholder="Email hoặc số điện thoại"
                   
                />
                <span>
                    <IoIosMail />
                </span>
            </div>
        </div>
        <div class="identify_footer">
            <a href="./login.html">Hủy</a>
            <button class="identify_submit">Tìm kiếm</button>
        </div>
    </form>
</body>
</html>