<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./recover.css">
</head>
<body>
    <form class="recover_form">
        <h2 class="recover_h2">Chúng tôi sẽ gửi mã xác nhận đến email của bạn</h2>
        <div class="recover_content">
            <div class="recover_left">
                <div class="recover_td">Chúng tôi có thể gửi mã đăng nhập đến:</div>
                <span class="recover_mail">di***@gmai.com</span>
                <div class="identify_group">
                    <div class="identify_input">
                        <input
                            id="email"
                            type="password"
                            placeholder="Mật khẩu mới"
                           
                        />
                        <span>
                            <IoIosMail />
                        </span>
                    </div>
                    <div class="identify_input">
                        <input
                            id="email"
                            type="password"
                            placeholder="Code"
                           
                        />
                        <span>
                            <IoIosMail />
                        </span>
                    </div>
                </div>
            </div>
            <div class="recover_right">
                <div class="recover_image">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/vi/c/c1/Nh%C3%A2n_v%E1%BA%ADt_v%E1%BA%BD_theo_phong_c%C3%A1ch_anime_-_manga_%C4%91%C6%B0%E1%BB%A3c_t%E1%BA%A1o_t%E1%BB%B1_%C4%91%E1%BB%99ng_b%E1%BB%9Fi_AI_%282%29.jpeg"
                        alt="123"
                    />
                </div>
                <div class="recover_user_name">nguyen dinh</div>
            </div>
        </div>
        <div class="recover_footer">
            <a href="./login.html">Đăng nhập bằng mật khẩu</a>
            <button class="recover_submit">Tiếp tục</button>
        </div>
    </form>
</body>
</html>