<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="grid min-h-screen place-items-center p-8">
        <div class="overflow-hidden block mx-auto max-w-7xl w-full mb-16">
          <div class="w-full flex mb-8 flex-col items-center">
            <nav>
              <ul
                role="tablist"
                class="flex relative bg-blue-gray-50 rounded-lg p-1 flex-row h-10 !w-12/12 md:w-[50rem] border border-white/25 bg-opacity-90"
              >
                <li
                  role="tab"
                  class="flex items-center justify-center text-center w-full h-full relative bg-transparent py-1 px-2 text-blue-gray-900 antialiased font-sans text-base font-normal leading-relaxed select-none cursor-pointer"
                  data-value="trends"
                >
                  <div class="z-20 text-inherit">Trends</div>
                </li>
                <li
                  role="tab"
                  class="flex items-center justify-center text-center w-full h-full relative bg-transparent py-1 px-2 text-blue-gray-900 antialiased font-sans text-base font-normal leading-relaxed select-none cursor-pointer"
                  data-value="frontend"
                >
                  <div class="z-20 text-inherit">Frontend</div>
                </li>
                <li
                  role="tab"
                  class="flex items-center justify-center text-center w-full h-full relative bg-transparent py-1 px-2 text-blue-gray-900 antialiased font-sans text-base font-normal leading-relaxed select-none cursor-pointer"
                  data-value="backend"
                >
                  <div class="z-20 text-inherit">Backend</div>
                  <div
                    class="absolute inset-0 z-10 h-full bg-white rounded-md shadow"
                    data-projection-id="2"
                    style="transform: none; transform-origin: 50% 50% 0px"
                  ></div>
                </li>
                <li
                  role="tab"
                  class="flex items-center justify-center text-center w-full h-full relative bg-transparent py-1 px-2 text-blue-gray-900 antialiased font-sans text-base font-normal leading-relaxed select-none cursor-pointer"
                  data-value="cloud"
                >
                  <div class="z-20 text-inherit">Cloud</div>
                </li>
                <li
                  role="tab"
                  class="flex items-center justify-center text-center w-full h-full relative bg-transparent py-1 px-2 text-blue-gray-900 antialiased font-sans text-base font-normal leading-relaxed select-none cursor-pointer"
                  data-value="ai"
                >
                  <div class="z-20 text-inherit">AI</div>
                </li>
                <li
                  role="tab"
                  class="flex items-center justify-center text-center w-full h-full relative bg-transparent py-1 px-2 text-blue-gray-900 antialiased font-sans text-base font-normal leading-relaxed select-none cursor-pointer"
                  data-value="tools"
                >
                  <div class="z-20 text-inherit">Tools</div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <h6
          class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-inherit mb-2"
        >
          Latest Blog Posts
        </h6>
        <h1
          class="block antialiased tracking-normal font-sans text-5xl font-semibold leading-tight text-inherit mb-2"
        >
          Trends News
        </h1>
        <p
          class="block antialiased font-sans text-xl font-normal leading-relaxed max-w-3xl mb-36 text-center text-gray-500"
        >
          Check out what's new in the web development and tech worls! Do not forget to
          subscribe to our blog and we will notify you with the latest news.
        </p>
        <div
          class="container my-auto grid grid-cols-1 gap-x-8 gap-y-16 items-start lg:grid-cols-3"
        >
          <div
            class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
          >
            <div
              class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg -mt-6"
            >
              <img
                alt="The key new features and changes in Tailwind CSS"
                loading="lazy"
                width="768"
                height="768"
                decoding="async"
                data-nimg="1"
                class="h-full w-full scale-110 object-cover"
                src="/nextjs-tailwind-blog-posts-page/image/blogs/blog2.svg"
                style="color: transparent"
              />
            </div>
            <div class="p-6">
              <p
                class="block antialiased font-sans text-sm font-light leading-normal text-blue-500 mb-2 !font-medium"
              >
                Enterprise
              </p>
              <a
                href="#"
                class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 normal-case transition-colors hover:text-gray-900"
                >The key new features and changes in Tailwind CSS</a
              >
              <p
                class="block antialiased font-sans text-base leading-relaxed text-inherit mb-6 font-normal !text-gray-500"
              >
                Don't be scared of the truth because we need to restart the human
                foundation in truth And I love you like Kanye loves Kanye I love Rick
                Owens bed design but the back is too high for the beams and angle of
                the ceiling I also wanted to point out.
              </p>
              <div class="flex items-center gap-4">
                <img
                  src="/nextjs-tailwind-blog-posts-page/image/avatar1.jpg"
                  alt="Ryan Samuel"
                  class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md"
                />
                <div>
                  <p
                    class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 mb-0.5 !font-medium"
                  >
                    Ryan Samuel
                  </p>
                  <p
                    class="block antialiased font-sans text-gray-700 text-xs !text-gray-500 font-normal"
                  >
                    10 September 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
          >
            <div
              class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg -mt-6"
            >
              <img
                alt="Lyft launching cross-platform service this week"
                loading="lazy"
                width="768"
                height="768"
                decoding="async"
                data-nimg="1"
                class="h-full w-full scale-110 object-cover"
                src="/nextjs-tailwind-blog-posts-page/image/blogs/blog6.svg"
                style="color: transparent"
              />
            </div>
            <div class="p-6">
              <p
                class="block antialiased font-sans text-sm font-light leading-normal text-blue-500 mb-2 !font-medium"
              >
                Startups
              </p>
              <a
                href="#"
                class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 normal-case transition-colors hover:text-gray-900"
                >Lyft launching cross-platform service this week</a
              >
              <p
                class="block antialiased font-sans text-base leading-relaxed text-inherit mb-6 font-normal !text-gray-500"
              >
                Don't be scared of the truth because we need to restart the human
                foundation in truth And I love you like Kanye loves Kanye I love Rick
                Owens bed design but the back is too high for the beams and angle of
                the ceiling I also wanted to point out.
              </p>
              <div class="flex items-center gap-4">
                <img
                  src="/nextjs-tailwind-blog-posts-page/image/blogs/blog2.svg"
                  alt="Nora Hazel"
                  class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md"
                />
                <div>
                  <p
                    class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 mb-0.5 !font-medium"
                  >
                    Nora Hazel
                  </p>
                  <p
                    class="block antialiased font-sans text-gray-700 text-xs !text-gray-500 font-normal"
                  >
                    12 September 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
          >
            <div
              class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg -mt-6"
            >
              <img
                alt="6 insights into the French Fashion landscape"
                loading="lazy"
                width="768"
                height="768"
                decoding="async"
                data-nimg="1"
                class="h-full w-full scale-110 object-cover"
                src="/nextjs-tailwind-blog-posts-page/image/blogs/blog3.svg"
                style="color: transparent"
              />
            </div>
            <div class="p-6">
              <p
                class="block antialiased font-sans text-sm font-light leading-normal text-blue-500 mb-2 !font-medium"
              >
                Trending
              </p>
              <a
                href="#"
                class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 normal-case transition-colors hover:text-gray-900"
                >6 insights into the French Fashion landscape</a
              >
              <p
                class="block antialiased font-sans text-base leading-relaxed text-inherit mb-6 font-normal !text-gray-500"
              >
                Don't be scared of the truth because we need to restart the human
                foundation in truth And I love you like Kanye loves Kanye I love Rick
                Owens bed design but the back is too high for the beams and angle of
                the ceiling I also wanted to point out.
              </p>
              <div class="flex items-center gap-4">
                <img
                  src="/nextjs-tailwind-blog-posts-page/image/avatar2.jpg"
                  alt="Otto Gonzalez"
                  class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md"
                />
                <div>
                  <p
                    class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 mb-0.5 !font-medium"
                  >
                    Otto Gonzalez
                  </p>
                  <p
                    class="block antialiased font-sans text-gray-700 text-xs !text-gray-500 font-normal"
                  >
                    16 September 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
          >
            <div
              class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg -mt-6"
            >
              <img
                alt="Autodesk looks to future of 3D printing with Project"
                loading="lazy"
                width="768"
                height="768"
                decoding="async"
                data-nimg="1"
                class="h-full w-full scale-110 object-cover"
                src="/nextjs-tailwind-blog-posts-page/image/blogs/blog4.svg"
                style="color: transparent"
              />
            </div>
            <div class="p-6">
              <p
                class="block antialiased font-sans text-sm font-light leading-normal text-blue-500 mb-2 !font-medium"
              >
                Lifestyle
              </p>
              <a
                href="#"
                class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 normal-case transition-colors hover:text-gray-900"
                >Autodesk looks to future of 3D printing with Project</a
              >
              <p
                class="block antialiased font-sans text-base leading-relaxed text-inherit mb-6 font-normal !text-gray-500"
              >
                Don't be scared of the truth because we need to restart the human
                foundation in truth And I love you like Kanye loves Kanye I love Rick
                Owens bed design but the back is too high for the beams and angle of
                the ceiling I also wanted to point out.
              </p>
              <div class="flex items-center gap-4">
                <img
                  src="/nextjs-tailwind-blog-posts-page/image/avatar3.jpg"
                  alt="Ryan Samuel"
                  class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md"
                />
                <div>
                  <p
                    class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 mb-0.5 !font-medium"
                  >
                    Ryan Samuel
                  </p>
                  <p
                    class="block antialiased font-sans text-gray-700 text-xs !text-gray-500 font-normal"
                  >
                    18 September 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
          >
            <div
              class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg -mt-6"
            >
              <img
                alt="Autodesk looks to future of 3D printing with Project"
                loading="lazy"
                width="768"
                height="768"
                decoding="async"
                data-nimg="1"
                class="h-full w-full scale-110 object-cover"
                src="/nextjs-tailwind-blog-posts-page/image/blogs/blog5.svg"
                style="color: transparent"
              />
            </div>
            <div class="p-6">
              <p
                class="block antialiased font-sans text-sm font-light leading-normal text-blue-500 mb-2 !font-medium"
              >
                Enterprise
              </p>
              <a
                href="#"
                class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 normal-case transition-colors hover:text-gray-900"
                >Autodesk looks to future of 3D printing with Project</a
              >
              <p
                class="block antialiased font-sans text-base leading-relaxed text-inherit mb-6 font-normal !text-gray-500"
              >
                Don't be scared of the truth because we need to restart the human
                foundation in truth And I love you like Kanye loves Kanye I love Rick
                Owens bed design but the back is too high for the beams and angle of
                the ceiling I also wanted to point out.
              </p>
              <div class="flex items-center gap-4">
                <img
                  src="/nextjs-tailwind-blog-posts-page/image/avatar3.jpg"
                  alt="Ryan Samuel"
                  class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md"
                />
                <div>
                  <p
                    class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 mb-0.5 !font-medium"
                  >
                    Ryan Samuel
                  </p>
                  <p
                    class="block antialiased font-sans text-gray-700 text-xs !text-gray-500 font-normal"
                  >
                    10 September 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
          >
            <div
              class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg -mt-6"
            >
              <img
                alt="Lyft launching cross-platform service this week"
                loading="lazy"
                width="768"
                height="768"
                decoding="async"
                data-nimg="1"
                class="h-full w-full scale-110 object-cover"
                src="/nextjs-tailwind-blog-posts-page/image/blogs/blog6.svg"
                style="color: transparent"
              />
            </div>
            <div class="p-6">
              <p
                class="block antialiased font-sans text-sm font-light leading-normal text-blue-500 mb-2 !font-medium"
              >
                Startups
              </p>
              <a
                href="#"
                class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 normal-case transition-colors hover:text-gray-900"
                >Lyft launching cross-platform service this week</a
              >
              <p
                class="block antialiased font-sans text-base leading-relaxed text-inherit mb-6 font-normal !text-gray-500"
              >
                Don't be scared of the truth because we need to restart the human
                foundation in truth And I love you like Kanye loves Kanye I love Rick
                Owens bed design but the back is too high for the beams and angle of
                the ceiling I also wanted to point out.
              </p>
              <div class="flex items-center gap-4">
                <img
                  src="/nextjs-tailwind-blog-posts-page/image/avatar2.jpg"
                  alt="Nora Hazel"
                  class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md"
                />
                <div>
                  <p
                    class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 mb-0.5 !font-medium"
                  >
                    Nora Hazel
                  </p>
                  <p
                    class="block antialiased font-sans text-gray-700 text-xs !text-gray-500 font-normal"
                  >
                    12 September 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm py-3.5 px-7 rounded-lg text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20 flex items-center gap-2 mt-24"
          type="button"
          style="position: relative; overflow: hidden"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
            class="h-5 w-5 font-bold text-gray-900"
          >
            <path
              fill-rule="evenodd"
              d="M12 3.75a.75.75 0 01.75.75v13.19l5.47-5.47a.75.75 0 111.06 1.06l-6.75 6.75a.75.75 0 01-1.06 0l-6.75-6.75a.75.75 0 111.06-1.06l5.47 5.47V4.5a.75.75 0 01.75-.75z"
              clip-rule="evenodd"
            ></path></svg
          >VIEW MORE
        </button>
      </section>
      
<!-- Code injected by live-server -->
<script>
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>
</body>
</html>